@charset "utf-8";


.home-info {
  display: flex;/* 横並びにする */
  justify-content: space-between;/* 要素を左右に均等配置 */
  gap: 30px;/* 要素間の余白 */
  margin-top: 50px;/* 上に余白*/
}

.notice, .news {
  height: 130px;
  border: 2px white solid;
  padding: 20px;
   margin: 0 px;
 background-color: rgba(255,255,255,0.2);
}

.notice {
  width:400px;
}

.news {
  display: flex;
  width:260px;
  flex-direction: column;
}

.news ul {
  overflow-y: auto;
  flex: 1;         /* ★ ul が残りの領域すべてを使う */
}



.notice h3, .news h3 {
  font-size: 20px;
  padding: 0px;
  margin:0px;/* 見出しの上下余白を消す */
}

.notice ul, .news ul{
  font-size:13px;
  list-style: none;
  
  margin-bottom: 0px;               
  padding: 0px;

}
