@charset "utf-8";


/*.home-info {
  display: flex;
  justify-content: space-between;
  gap: 20px;
  margin-top: 30px;
}*/

.notice, .news {
  border: 2px solid #ccc; /* 白い枠線だけ */
}

.notice h3, .news h3 {
  font-size: 1.2em;
  border-bottom: 1px solid #ccc;
  margin: 0;     /* ← これが必要 */
  padding: 5px;  /* 境界線と文字がくっつきすぎるので少し付けるのが一般的 */
}

.notice ul, .news ul{
  font-size:16px;
  list-style: none; 
  
  margin: 0;               
  padding: 0;

}
