@charset "utf-8";


.home-info {
  display: flex;
  justify-content: space-between;
  gap: 20px;
  margin-top: 30px;
}

.notice, .news {
  border: 1px solid #ccc; /* 白い枠線だけ */
  padding: 15px;
  margin-top: 30px;
}

.notice h3, .news h3 {
  font-size: 1.2em;
  border-bottom: 1px solid #ccc;
  margin-bottom: 10px;
  padding-bottom: 5px;
}

.notice ul, .news ul{
  font-size:20px;
  list-style: none; /* リストの点を消す */
	display: flex; /* 横並びにする */
}
