@charset "utf-8";


/*.home-info {
  display: flex;
  justify-content: space-between;
  gap: 20px;
  margin-top: 30px;
}*/

.notice, .news {
  border: 2px solid #ccc; /* 白い枠線だけ */
}

.notice h3, .news h3 {
  position: relative;
  font-size: 1.2em;
  border: 1px white solid;
  margin: 0;
  padding: 20px;
}

.notice ul, .news ul{
  font-size:16px;
  list-style: none; 
  
  margin: 0;               
  padding: 0;

}
