@charset "utf-8";

.aboutme{
display:flex;
  align-items: center; /* 画像とテキストの縦位置を揃える */
  gap: 50px; /* 画像と文章の間隔 */
  margin: 30px auto;
}


.aboutme .me img {
  width: 150px;        /* 好みで調整 */
  height: auto;
  border-radius: 10px; /* 角を少し丸く */
  display: block;
}

.myname h2{
  margin: 7px 0;
}


.myname p{
  margin: 0 0 10px 0;
}
