@charset "utf-8";
/* CSS Document */

@font-face {
  font-family: 'KikaiChokoku';
  src: url('fonts/KikaiChokokuJIS-Md.otf') format('opentype');
}

body {
  font-family: 'KikaiChokoku', sans-serif;
}

.header{
	display: flex; /* ロゴとメニューを横並び */
	align-items: center; /* 縦方向の中央揃え */
	width: 100%; /* 幅を画面いっぱいに */
	background-color: #333; /* ヘッダーの背景色 */
  color: white; /* 文字の色 */
  padding: 15px 20px; /* 上下・左右の余白 */
  position: fixed; /* ページ上部に固定 */
  top: 0; /* 画面の最上部に配置 */
  left: 0;
	font-family: 'KikaiChokoku', sans-serif;
	
	
z-index: 1000; /* 他の要素の上に表示 */
}

.header-logo{
  font-size:30px;
}

.headerlist ul{
  font-size:20px;
  list-style: none; /* リストの点を消す */
	display: flex; /* 横並びにする */
}
.headerlist li {
  margin-left: 30px; /* メニュー同士の間隔 */
}

.headerlist a {
  text-decoration: none; /* リンクの下線を消す */
  color: white; /* リンクの色を変更（任意） */
	/*padding: 8px 12px;  クリックしやすくする */
  transition: background 0.2s;
	transition: color 0.2s ease; /* 色変化を滑らかに */
}

/* ホバー時のスタイル */
.headerlist a:hover {
  /*background-color: #fff;*/
	color: #959595;
}

.selected{
	color: #959595 !important;
}

/*真ん中に寄せる*/
.main{
	max-width: 800px;
  margin: 100px auto; /* ヘッダーとの間隔を広げる */
  padding: 20px;
}



h3{
	color:black;
}
