@charset "utf-8";
/* CSS Document */


body {
  background: black;
}


.header{
	display: flex; /* ロゴとメニューを横並び */
	align-items: center; /* 縦方向の中央揃え */
	width: 100%; /* 幅を画面いっぱいに */
	background-color: #f8f3e7; /* ヘッダーの背景色 */
  color: #333; /* 文字の色 */
  padding: 15px 20px; /* 上下・左右の余白 */
  position: fixed; /* ページ上部に固定 */
  top: 0; /* 画面の最上部に配置 */
  left: 0;
	/*font-family: 'OradanoGSRR', sans-serif;*/
	
	
z-index: 1000; /* 他の要素の上に表示 */
box-sizing: border-box;
}



.header-logo{
  font-size:30px;
  text-decoration: none;
  color: #333;
  transition: color 0.2s ease;
}

.header-logo:hover {
  color: #636363;
}

.headerlist ul{
  font-size:20px;
  list-style: none; /* リストの点を消す */
	display: flex; /* 横並びにする */
}
.headerlist li {
  margin-left: 30px; /* メニュー同士の間隔 */
}

.headerlist a {
  text-decoration: none; /* リンクの下線を消す */
  color: #333; /* リンクの色を変更（任意） */
	/*padding: 8px 12px;  クリックしやすくする */
  transition: background 0.2s;
	transition: color 0.2s ease; /* 色変化を滑らかに */
}

/* カーソルを合わせた時のスタイル */
.headerlist a:hover {
  /*background-color: #fff;*/
	color: #636363;
}


/*真ん中に寄せる*/
.main{
	max-width: 700px;
  margin: 100px auto; /* ヘッダーとの間隔を広げる */
  padding: 20px;
  color:white;
  box-sizing: border-box;
}








.characters {
  display: flex;
  gap: 20px;
  justify-content: flex-start;
  flex-wrap: wrap; /* 画面幅が狭いと折り返される */
}

.char {
  width: 150px; /* 4人が横に入る幅 */
  text-align: center;
}

.char h3 {
  font-size: 1rem;   /* 紹介文より少し大きい */
  margin-top: 8px;
  margin-bottom: 5px;
  font-weight: bold;
}

.char img {
  width: 80%;
  aspect-ratio: 1 / 1; /* 正方形を維持 */
  object-fit: cover;
  border-radius: 8px;
}

.characters .char p {
  margin-top: 10px;
  font-size: 0.9rem;
  line-height: 1.5;
  text-align: left;
}









.no-dots {
  list-style: none; /* リストマーカーを消す */
  padding-left: 0;  /* 左側の余白をなくす（必要に応じて） */
}
